$bg-color: #eff1f5;
$main-color: #40a02b;
$caret-color: #df8e1d;
$sub-color: #7c7f93;
$sub-alt-color: #e6e9ef;
$text-color: #4c4f69;
$error-color: #d20f39;
$error-extra-color: #e64553;
$colorful-error-color: #d20f39;
$colorful-error-extra-color: #e64553;
$flash-hit-color: #cfe8c8;
$flash-miss-color: #f7d1d9;
