$bg-color: #eae6f6;
$main-color: #2e7de9;
$caret-color: #8c4dd6;
$sub-color: #5a6396;
$sub-alt-color: #ded6f2;
$text-color: #343b58;
$error-color: #e0225b;
$error-extra-color: #b15c00;
$colorful-error-color: #e0225b;
$colorful-error-extra-color: #b15c00;
$flash-hit-color: #d0e8da;
$flash-miss-color: #f9d3de;
